@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik+Puddles&display=swap');

mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 55px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.rubik-puddles-regular {
    font-family: "Rubik Puddles", serif;
    font-weight: 400;
    font-style: normal;
}